fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlmodel==0.0.22
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
python-multipart==0.0.20
jinja2==3.1.4
cryptography==44.0.0
stripe==11.4.0
dnspython==2.7.0
dkimpy==1.1.8
aiosmtpd==1.4.6
smail==0.1.9
webauthn==2.2.0
Pillow==11.0.0
stepic==0.5.0
requests==2.32.3
